<!--
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<style>
   #chat {
        min-height: 250px;
        border: 1px solid #ced4da;
        width: 100%;
        margin-bottom: 1px ;
      }
</style>
<h1>
  Angular 2 WebSockets Tutorial
</h1>


    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <ul id="chat">

          </ul>

          <form id="message-box">

            <div class="input-group mb-3">
              <input type="text" [(ngModel)]="message.message" [ngModelOptions]="{standalone: true}"  class="form-control" placeholder="mensaje" >
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" (click)="sendMsg()">></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div> -->


    <div class="container-fluid">
    <div class="row">
        <h2>Realtime Chat Application</h2>
        <hr>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" [(ngModel)]="user" class="form-control" id="username" placeholder="Enter username">
            </div>
        </div>
        <div class="col-sm-5">
            <label for="roomInput">Choose room</label>
            <select name="roomInput" id="roomInput" class="form-control" [(ngModel)]="room">
                <option value="Lobby">Lobby</option>
                <option value="Hall">Hall</option>
                <option value="Deluxe">Deluxe</option>
            </select>
        </div>
        <div class="col sm-2">
            <div style="margin-top:19px;" class="pull-right">
                <button type="button" class="btn btn-primary" (click)="join()">Join</button>
                <button type="button" class="btn btn-default" (click)="leave()">Leave</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="well" style="height:200px; padding:15px;">
            <div *ngFor="let item of messageArray">
            <span><strong>{{item.user}} : </strong> {{item.message}}</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10">
            <input type="text" class="form-control" [(ngModel)]="messageText">
        </div>
        <div class="col-sm-2">
                <button type="button" class="btn btn-success pull-right" (click)="sendMessage()">Send</button>
        </div>
    </div>
</div>